body {
    background-image: url("/assert/HD-Wallpapers-for-Windows-10.jpg")
}

.form {
    margin: 50px auto;
    padding: 25px 20px;
    background: #333;
    box-shadow: 2px 2px 4px #a5a5a5;
    border-radius: 5px;
    color: #fff;
}

.form h2 {
    margin-top: 0px;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-radius: 10px;
}

.footer {
    padding: 10px;
}