
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Responsive Registration Form</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      body{
        background-image: url("/assert/9a974b3b79318f9b6ad0dcbf7824a66f.jpg")
        
      }
      .register-form{
        margin: 50px auto;
        padding: 25px 20px;
        background: #3a1975;
        box-shadow: 2px 2px 4px #ab8de0;
        border-radius: 5px;
        color: #fff;
      }
      .register-form h2{
        margin-top: 0px;
        margin-bottom: 15px;
        padding-bottom: 5px;
        border-radius: 10px;
        border: 1px solid #25055f;
      }
    </style>
  </head>
  <body>
      <nav class="navbar-inverse">
      <div class="container-fluid"> 
        <div class="navbar-header"> 
          <button type="button" class="collapsed navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"> 
            <span class="sr-only">Toggle navigation</span> 
            <span class="icon-bar"></span> 
            <span class="icon-bar"></span> 
            <span class="icon-bar"></span> 
          </button> 
          <a href="#" class="navbar-brand">Impiger</a> 
        </div> 
        <div class="collapse navbar-collapse pull-right" id="navbar-collapse"> 
          <ul class="nav navbar-nav"> 
            <li class="active">
              <a href="#">Home</a>
            </li> 
            <li >
              <a href="/users/login">Login</a>
            </li> 
            <li>
              <a href="/users/register">Registration</a>
            </li> 
          </ul> 
        </div> 
      </div>
    </nav>
  </body>
</html>
